<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <title>Recipes</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


    <link rel="stylesheet" href="styles/general.css">


    <!--    font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Rubik&display=swap">

</head>
<body>

<!--navigation bar-->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" href="../.."><img src="images/eco-eat-logo.png" style="height: 80px"/></a>
        </div>

        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="../..">Home</a></li>
                <li><a href="/emissions">Emission Calculator</a></li>
                <li><a href="/tips">Low Carbon Tips</a></li>
                <li><a href="/map">Vegan Food Map</a></li>
                <li class="dropdown active">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Recipes <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="../recipes">Find a recipe that suits you</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="../compare">Compare two different recipes</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Blank space for navigation -->
<div class="container">
    <div class="row" style="margin-top: 100px;"></div>
</div>

<!-- Banner -->
<div class="container">
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="banner">
                <div>Compare recipes based on carbon emissions and resource usage!</div>
            </div>
        </div>
    </div>
</div>
<br>

<!-- Accept user input for food item to view recipes.-->
<div class="container">
    <div id="outerrow" class="row" style="margin-top: 50px;">
        <div class="row">
            <div style="width: 50%;  float: left;">
                <p>Select two recipes from our list, to view emission values and choose one that is better for the environment.
                    You can see the total emissions, land usage for agriculture or animal rearing, farm maintenance
                    and other factors.<br>
                </p>
                <div class="row"></div>
                <div class="row"></div>
                <div class="row" id="loadingContent"><h4>Please wait while we load our collection of over 1000 recipes!</h4></div>
                <h4 class="ml2">Loading...</h4>

                <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
            </div>
            <div style="margin-left: 50%; ">
                <img src="images/recipe.jpg" class="img-fluid" alt="recipe image" style="width: 80%;">
            </div>
        </div>
        <div class="row"></div>
        <div class="row" style="height: 30px;"></div>

        <div id="bodyContent" class="row" style="display: none;">
            <table class="table">
                <tr>
                    <td style="width:50%; border:none;">
                        <div class="form-group row">
                            <label for="recipe-one" class="col-sm-4 col-form-label">Search recipe no. 1</label>
                            <div id="dropdown-section-one" class="col-sm-6">
                                <input id="recipe-one" type="text" placeholder="Search.." onfocus="toggleOption()"
                                       onkeyup="inputFilter()" onblur="toggleOption()" style="width: 100%;" />
                                <div id="dropdown-one" class="dropdown-content dropdown" style="width: 100%;">
                                    <!-- Add element from js -->
                                </div>
                            </div>
                        </div>
                    </td>
                    <td style="width:50%; border:none;">
                        <div class="form-group row">
                            <label for="recipe-two" class="col-sm-4 col-form-label">Search recipe no. 2</label>
                            <div id="dropdown-section-two" class="col-sm-6">
                                <input style="width: 100%;" id="recipe-two" type="text" placeholder="Search.." onfocus="toggleOption()"
                                       onkeyup="inputFilter()" onblur="toggleOption()"/>
                                <div id="dropdown-two" class="dropdown-content dropdown">
                                    <!-- Add element from js -->
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="border:none;">
                        <div class="col-sm-10"></div>
                        <div class="col-sm-2" id="compareButton"></div>

                    </td>
                    <td style="border:none;"></td>
                </tr>
                <tr></tr>
                <tr></tr>
            <div class="row"></div>
           </table>

            <div id="messageContent" style="display: none;"><h4>Please select two different recipes.</h4></div>



            <div id="emissionContent" style="width: 100%; display:none;">
                <div style="width: 50%;  float: left;">
                    <table id="emissionTable" >
                        <tr>
                            <td style="width:33%;"></td>
                            <td style="width:33%;"id="recipe1name"></td>
                            <td style="width:33%;"id="recipe2name"></td>
                        </tr>
                        <tr>
                            <td>Total Emissions</td>
                            <td id="recipe1total"></td>
                            <td id="recipe2total"></td>
                        </tr>
                        <tr>
                            <td>Land Use </td>
                            <td id="recipe1land"></td>
                            <td id="recipe2land"></td>
                        </tr>
                        <tr>
                            <td>Farm </td>
                            <td id="recipe1farm"></td>
                            <td id="recipe2farm"></td>
                        </tr>
                        <tr>
                            <td>Animal Feed </td>
                            <td id="recipe1animal"></td>
                            <td id="recipe2animal"></td>
                        </tr>
                        <tr>
                            <td>Processing </td>
                            <td id="recipe1processing"></td>
                            <td id="recipe2processing"></td>
                        </tr>
                        <tr>
                            <td>Transport </td>
                            <td id="recipe1transport"></td>
                            <td id="recipe2transport"></td>
                        </tr>
                        <tr>
                            <td>Retail </td>
                            <td id="recipe1retail"></td>
                            <td id="recipe2retail"></td>
                        </tr>
                        <tr>
                            <td>Packaging </td>
                            <td id="recipe1packaging"></td>
                            <td id="recipe2packaging"></td>
                        </tr>
                    </table>
                </div>
                <div style="margin-left: 50%; ">
                    <table>
                        <tr>
                            <td><h4><div id="landuse" style="margin-left: 40px;"></div></h4></td>
                        </tr>
                        <tr></tr>
                        <tr></tr>
                        <tr>
                            <td><h4><div id="wateruse" style="margin-left: 40px;"></div></h4></td>
                        </tr>
                    </table>


                </div>
            </div>
        </div>






    </div>
</div>


<!--            Footer              -->
<div class="container" style="width: 100%;
        margin-top: 100px;">
    <div class="row cen">
        <footer>
            <div class="row" style="width: 100%">
                <div class="col-xs-1"></div>
                <div class="col-lg-3">
                    <img id="footerLogo" src="images/eco-eat-logo.png" style="  margin-right: 30px">
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3">
                            <h3 style="font-weight: bolder; margin-left: 20px">About Us</h3>
                            <ul style="list-style-type:none;">
                                <a href="/workinprogress">
                                    <li><h6>Our Project</h6></li>
                                </a>
                                <a href="/workinprogress">
                                    <li><h6>Our Team</h6></li>
                                </a>
                            </ul>
                        </div>
                        <div class="col-lg-3">
                            <h3 style="font-weight: bolder; margin-left: 20px">What we have</h3>
                            <ul style="list-style-type:none;">
                                <a href="/emission">
                                    <li><h6>Emission Calculator</h6></li>
                                </a>
                                <a href="/tips">
                                    <li><h6>Low Carbon Tips</h6></li>
                                </a>
                                <a href="/map">
                                    <li><h6>Vegan Food Map</h6></li>
                                </a>
                                <a href="/workinprogress">
                                    <li><h6>Vegan Food Recipes</h6></li>
                                </a>
                                <a href="/workinprogress">
                                    <li><h6>Food Recipes Comparison</h6></li>
                                </a>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <p class="copyright">Leara Eco-Eat Project Team © 2021</p>
        </footer>

    </div>
</div>
<script>



    //function filter
    function inputFilter() {
        let input, filter, li, numberShowed;
        let element = event.target.id;

        //get input & element
        input = document.getElementById(element);
        filter = input.value.toUpperCase();
        let div;

        if(input.id == "recipe-one"){
            div = document.getElementById("dropdown-one");
            li = document.getElementsByClassName("recipe-one-dropdown-list");
        }

        else if(input.id == "recipe-two"){
            div = document.getElementById("dropdown-two");
            li = document.getElementsByClassName("recipe-two-dropdown-list");
        }


        //filter element by input
        numberShowed = 0;
        let mark;

        for (let i = 0; i < li.length; i++) {
            var txtValue = li[i].textContent || li[i].innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                numberShowed++;
                if (numberShowed <= 5) {
                    li[i].style.display = "";
                } else {
                    li[i].style.display = "none"
                }
                mark = i;
            } else {
                li[i].style.display = "none";
            }
        }
        if (document.getElementById("recipe-one").value.toUpperCase() === li[mark].textContent.toUpperCase() ||
            document.getElementById("recipe-one").value.toUpperCase() === li[mark].innerText.toUpperCase()) {
           document.getElementById("recipe-one").setAttribute("recipe1", mark)
        } else {
           document.getElementById("recipe-one").removeAttribute("recipe1")
        }
        if (document.getElementById("recipe-two").value.toUpperCase() === li[mark].textContent.toUpperCase() ||
            document.getElementById("recipe-two").value.toUpperCase() === li[mark].innerText.toUpperCase()) {
            document.getElementById("recipe-two").setAttribute("recipe1", mark)
        } else {
            document.getElementById("recipe-one").removeAttribute("recipe1")
        }


    }

    //show dropdown list
    function toggleOption() {
        let element = event.target.id;
        if(element === "recipe-one")
            document.getElementById("dropdown-one").classList.toggle("showPic");
        else if (element === "recipe-two")
            document.getElementById("dropdown-two").classList.toggle("showPic");
        inputFilter();
    }

    function prepareOne(response) {
        let node = [];
        let div = document.getElementById("dropdown-one");

        //create first li element
        node[0] = document.createElement("li")
        node[0].textContent = response[0]["name"];
        node[0].id = response[0]["_id"];
        node[0].style.display = "none";
        node[0].setAttribute("class", "recipe-one-dropdown-list");
        node[0].setAttribute("responseId", 0);
        node[0].onmousedown = function returnId() {
            document.getElementById("recipe-one").value = response[0]["name"];

        }
        div.appendChild(node[0]);


        //create rest element if not duplicated for text box one
        for (let i = 1; i < response.length; i++) {
            let check = 0;
            if (response[i]["name"] !== response[i-1]["name"]) {
                node[i] = document.createElement("li");
                node[i].textContent = response[i]["name"];
               node[i].id = i;
                check = i;
                node[i].style.display = "none"
                node[i].setAttribute("class", "recipe-one-dropdown-list");
                node[i].setAttribute("responseId", i)
                node[i].onmousedown = function returnId(e) {
                    document.getElementById("recipe-one").value = response[e.target.id]["name"];

                   }
                div.appendChild(node[i]);
            }
        }


    }

    function prepareTwo(response) {
        let node = [];
        let div = document.getElementById("dropdown-two");
        //create first li element
        node[0] = document.createElement("li")
        node[0].textContent = response[0]["name"];
        node[0].id = response[0]["_id"];
        node[0].style.display = "none";
        node[0].setAttribute("class", "recipe-two-dropdown-list");
        node[0].setAttribute("responseId", 0);
        node[0].onmousedown = function returnId() {
            document.getElementById("recipe-two").value = response[0]["name"];
       }
        div.appendChild(node[0]);


        //create rest element if not duplicated for text box one
        for (let i = 1; i < response.length; i++) {
            let check = 0;
            if (response[i]["name"] !== response[i-1]["name"]) {
                node[i] = document.createElement("li");
                node[i].textContent = response[i]["name"];
                //nodeOne[i].id = response[i]["_id"];
                node[i].id = i;
                check = i;
                node[i].style.display = "none"
                node[i].setAttribute("class", "recipe-two-dropdown-list");
                node[i].setAttribute("responseId", i);
                node[i].onmousedown = function returnId(e) {
                    document.getElementById("recipe-two").value = response[e.target.id]["name"];

                }
                div.appendChild(node[i]);
            }
        }


    }




    $(document).ready(function(){

        let ajaxUrl = "https://iepprecipe-46db.restdb.io/rest/recipe-1300-records"

        var settings = {
            "async": true,
            "crossDomain": true,
            "url": ajaxUrl,
            "method": "GET",
            "headers": {
                "content-type": "application/json",
                "x-apikey": "615d72578597142da1745453",
                "cache-control": "no-cache"
            }
        }
        $.ajax(settings).done(function (response) {

            prepareOne(response);
            prepareTwo(response);

            $("#loadingContent").css('display','none');
            $("#bodyContent").css('display','block');
            $(".ml2").css('display','none');


            let buttonHtml = '<input id="comp" type="submit" value="Compare"/>';
            $("#compareButton").append(buttonHtml);
            $("#comp").addClass('btn btn-primary');
            $("#comp").css("background-color",'#99cc00');
            $("#comp").css("border",'none');
            $('#compareButton').on('click', function () {
                $("#messageContent").css('display','none');
                let li1 = document.getElementsByClassName("recipe-one-dropdown-list"),
                    content1 = document.getElementById("recipe-one").value.toUpperCase();
                let bool = false;
                let recipe1;
                for (let i = 0; i < li1.length; i++) {
                    let txtValue = li1[i].textContent || li1[i].innerText;

                    if(content1 === txtValue.toUpperCase()){

                        bool = true;
                        recipe1 = li1[i].getAttribute("responseId");
                    }
                }

                let li2 = document.getElementsByClassName("recipe-two-dropdown-list"),
                    content2 = document.getElementById("recipe-two").value.toUpperCase();
                bool = false;
                let recipe2;
                for (let i = 0; i < li2.length; i++) {
                    let txtValue = li2[i].textContent || li2[i].innerText;

                    if(content2 === txtValue.toUpperCase()){


                        bool = true;
                        recipe2 = li2[i].getAttribute("responseId");
                    }
                }


                let num1 =Number(recipe1);
                let num2 =Number(recipe2);

                if(num1 == num2)
                {

                    $("#messageContent").css('display','block');
                    $("#emissionContent").css('display','none');
                    $("#emissionTable").css('display','none');
                }
                else {

                    /* Empty table contents */

                    $("#recipe1name").empty();
                    $("#recipe2name").empty();
                    $("#recipe1total").empty();
                    $("#recipe2total").empty();
                    $("#recipe1land").empty();
                    $("#recipe2land").empty();
                    $("#recipe1farm").empty();
                    $("#recipe2farm").empty();
                    $("#recipe1animal").empty();
                    $("#recipe2animal").empty();
                    $("#recipe1processing").empty();
                    $("#recipe2processing").empty();
                    $("#recipe1transport").empty();
                    $("#recipe2transport").empty();
                    $("#recipe1retail").empty();
                    $("#recipe2retail").empty();
                    $("#recipe1packaging").empty();
                    $("#recipe2packaging").empty();
                    $("#landuse").empty();
                    $("#landuse").empty();

                    /* Fill table contents */

                    $("#recipe1name").append(response[num1]["name"]);
                    $("#recipe2name").append(response[num2]["name"]);
                    $("#recipe1total").append(response[num1]["emissions_total"] + ' g');
                    $("#recipe2total").append(response[num2]["emissions_total"] + ' g');
                    $("#recipe1land").append(response[num1]["emissions_land_use"] + ' g');
                    $("#recipe2land").append(response[num2]["emissions_land_use"] + ' g');
                    $("#recipe1farm").append(response[num1]["emissions_farm"] + ' g');
                    $("#recipe2farm").append(response[num2]["emissions_farm"] + ' g');
                    $("#recipe1animal").append(response[num1]["emissions_animal_feed"] + ' g');
                    $("#recipe2animal").append(response[num2]["emissions_animal_feed"] + ' g');
                    $("#recipe1processing").append(response[num1]["emissions_processing"] + ' g');
                    $("#recipe2processing").append(response[num2]["emissions_processing"] + ' g');
                    $("#recipe1transport").append(response[num1]["emissions_transport"] + ' g');
                    $("#recipe2transport").append(response[num2]["emissions_transport"] + ' g');
                    $("#recipe1retail").append(response[num1]["emissions_retail"] + ' g');
                    $("#recipe2retail").append(response[num2]["emissions_retail"] + ' g');
                    $("#recipe1packaging").append(response[num1]["emissions_packaging"] + ' g');
                    $("#recipe2packaging").append(response[num2]["emissions_packaging"] + ' g');


                    recipe1Land = response[num1]["land_used"];
                    recipe2Land = response[num2]["land_used"];
                    recipe1Water = response[num1]["water_used"];
                    recipe2Water = response[num2]["water_used"];

                    if(recipe1Land > recipe2Land) {
                        let perc= (recipe1Land - recipe2Land)/100;
                        perc = Math.round(perc * 100) / 100;
                        if(perc == 0) {
                            $("#landuse").append( 'Both recipes use about the same amount of land.');
                        }
                        else {
                            $("#landuse").append( response[num1]["name"] + ' uses <b>' + perc + '%</b> more land than ' + response[num2]["name"]);

                        }
                    }
                    else {
                        let perc= (recipe2Land - recipe1Land)/100;
                        perc = Math.round(perc * 100) / 100;
                        $("#landuse").append( response[num2]["name"] + ' uses <b>' + perc + '%</b> more land than ' + response[num1]["name"]+'.');
                    }

                    if(recipe1Water > recipe2Water) {
                        let perc= (recipe1Water - recipe2Water)/100;
                        perc = Math.round(perc * 100) / 100;
                        if(perc == 0) {
                            $("#wateruse").append( 'Both recipes use about the same amount of water.');
                        }
                        else {
                            $("#wateruse").append( response[num1]["name"] + ' uses <b>' + perc + '%</b> more water than ' + response[num2]["name"]+'.');

                        }
                    }
                    else {
                        let perc= (recipe2Water - recipe1Water)/100;
                        if(perc == 0) {
                            $("#wateruse").append( 'Both recipes use about the same amount of water.');
                        }
                        else{
                            perc = Math.round(perc * 100) / 100;
                            $("#wateruse").append( response[num2]["name"] + ' uses <b>' + perc + '%</b> more water than ' + response[num1]["name"]);
                        }
                    }
                    $("#emissionContent").css('display','block');
                    $("#emissionTable").css('display','block');
                }

            });

        });

        // Wrap every letter in a span
        var textWrapper = document.querySelector('.ml2');
        textWrapper.innerHTML = textWrapper.textContent.replace(/\S/g, "<span class='letter'>$&</span>");

        anime.timeline({loop: true})
            .add({
                targets: '.ml2 .letter',
                scale: [4,1],
                opacity: [0,1],
                translateZ: 0,
                easing: "easeOutExpo",
                duration: 950,
                delay: (el, i) => 70*i
            }).add({
            targets: '.ml2',
            opacity: 0,
            duration: 1000,
            easing: "easeOutExpo",
            delay: 1000
        });

    });


</script>
</body>
</html>