<!DOCTYPE html>
<html lang="en">
<html xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Emissions</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="styles/navigationBar.css">
    <link rel="stylesheet" href="styles/general.css">
    <link rel="stylesheet" href="styles/footer.css">
    <link rel="stylesheet" href="styles/emissions.css">

    <!--    font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
</head>
<body>


<!--navigation bar-->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" href="#"><img src="images/eco-eat-logo.png" style="height: 80px"/></a>
        </div>

        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="../..">Home</a></li>
                <li class="active"><a href="#">Emission Calculator</a></li>
                <li><a href="/tips">Low Carbon Tips</a></li>
                <li><a href="/map">Vegan Food Map</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Recipes <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/workinprogress">Find a recipe suit you</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/workinprogress">Compare two different recipes</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Blank space for navigation -->
<div class="container">
    <div class="row" style="margin-top: 100px;"></div>
</div>

<!-- Banner -->
<div class="container">
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="banner">
                <div>With our carbon emissions calculator, find out about carbon emissions from food items!</div>
            </div>
        </div>
    </div>
</div>
<br>

<div id="explanation" class="container">
    <div class="row">
        <div class="col-sm-6">
            <section>
                <p>The carbon footprint of a food product is the total amount of greenhouse gases (GHG) emitted
                    throughout its lifecycle, expressed in kilograms of
                    CO2-equivalents.</p>
                <p>GHG emissions of the production phase (including all agricultural inputs, machinery, livestock,
                    soils) and successive phases (such as
                    processing, transportation, preparation of food, waste disposal) are all included in this
                    calculation.</p>
                <p>Thus, one gram of wheat, or one gram of beef, have different carbon footprints, since their life
                    cycles are different, emitting specific types
                    and varying amount of greenhouse gases.</p>
                <br>
                <p>Use our calculator to find the carbon emission details for food items you consume.</p>
            </section>
        </div>
    </div>
</div>
<!-- Accept user input for food item to view emission details.-->
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <section id="foodEntry">
                <form action="#" th:action="@{/emissions}" th:object="${foodItem}" method="post">
                    <div class="form-group row">
                        <label for="food" class="col-sm-4 col-form-label">Enter the food item:</label>
                        <div class="col-sm-2">
                            <input id="food" type="text" th:field="*{foodName}"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4"></div>
                        <div class="col-sm-2"><input type="submit" class="btn btn-primary" value="Calculate"/></div>
                    </div>
                </form>
            </section>
        </div>
    </div>
</div>

<!--            Footer              -->
<div class="container" style="width: 100%;
        margin-top: 100px;">
    <div class="row cen">
        <footer>
            <div class="row" style="width: 100%">
                <div class="col-xs-1"></div>
                <div class="col-lg-3">
                    <img id="footerLogo" src="images/eco-eat-logo.png" style="  margin-right: 30px">
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3">
                            <h3 style="font-weight: bolder; margin-left: 20px">About Us</h3>
                            <ul style="list-style-type:none;">
                                <a href="/workinprogress">
                                    <li><h6>Our Project</h6></li>
                                </a>
                                <a href="/workinprogress">
                                    <li><h6>Our Team</h6></li>
                                </a>
                            </ul>
                        </div>
                        <div class="col-lg-3">
                            <h3 style="font-weight: bolder; margin-left: 20px">What we have</h3>
                            <ul style="list-style-type:none;">
                                <a href="/emission">
                                    <li><h6>Emission Calculator</h6></li>
                                </a>
                                <a href="/tips">
                                    <li><h6>Low Carbon Tips</h6></li>
                                </a>
                                <a href="/map">
                                    <li><h6>Vegan Food Map</h6></li>
                                </a>
                                <a href="/workinprogress">
                                    <li><h6>Vegan Food Recipes</h6></li>
                                </a>
                                <a href="/workinprogress">
                                    <li><h6>Food Recipes Comparison</h6></li>
                                </a>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <p class="copyright">Leara Eco-Eat Project Team © 2021</p>
        </footer>

    </div>
</div>

</body>
</html>