<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Emissions</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="styles/general.css">

    <!-- Load d3.js -->
    <script src="https://d3js.org/d3.v5.js"></script>

    <!--    font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Rubik&display=swap">

</head>
<body>


<!--navigation bar-->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" href="../.."><img src="images/eco-eat-logo.png" style="height: 80px"/></a>
        </div>

        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="../..">Home</a></li>
                <li class="active"><a href="#">Emission Calculator</a></li>
                <li><a href="/tips">Low Carbon Tips</a></li>
                <li><a href="/map">Vegan Food Map</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Recipes <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/recipes">Find a recipe that suits you</a></li>
<!--                        <li role="separator" class="divider"></li>-->
<!--                        <li><a href="/workinprogress">Compare two different recipes</a></li>-->
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Blank space for navigation -->
<div class="container">
    <div class="row" style="margin-top: 100px;"></div>
</div>

<!-- Banner -->
<div class="container">
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="banner">
                <div>With our carbon emissions' calculator, find out about carbon emissions from food items!</div>
            </div>
        </div>
    </div>
</div>
<br>

<div id="explanation" class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-sm-12">
                    <section>
                        <p style="text-align: justify">
                            The carbon footprint of a food product is the total amount of greenhouse gases (GHG) emitted
                            throughout its lifecycle, expressed in kilograms of
                            CO2-equivalents.
                            <br>
                            <br>
                            GHG emissions of the production phase (including all agricultural inputs, machinery,
                            livestock,
                            soils) and successive phases (such as
                            processing, transportation, preparation of food, waste disposal) are all included in this
                            calculation.
                            <br>
                            <br>
                            Thus, one gram of wheat, or one gram of beef, have different carbon footprints, since their
                            life
                            cycles are different, emitting specific types
                            and varying amount of greenhouse gases.
                            <br>
                            <br>
                            Use our calculator to find the carbon emission details for food items you consume.</p>
                    </section>
                </div>
            </div>
            <!-- Accept user input for food item to view emission details.-->
            <div class="row">
                <div class="col-sm-12">
                    <section id="foodEntry">
                        <div class="form-group row">
                            <label for="food" class="col-sm-4 col-form-label">Enter the food item:</label>
                            <div id="dropdown-section" class="col-sm-2">
                                <input id="food" type="text" placeholder="Search.." onfocus="toggleOption()"
                                       onkeyup="inputFilter()" onblur="toggleOption()"/>
                                <div id="dropdown" class="dropdown-content dropdown">
                                    <!-- Add element from js -->
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4"></div>
                            <div class="col-sm-2">
                                <input type="submit"
                                       class="btn btn-primary" value="Calculate"
                                       onclick="showPlot()"
                                       style="background-color: #99cc00; border: none"
                                />
                            </div>
                        </div>

                    </section>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div id="barChart"></div>
        </div>
    </div>
</div>

<!--            Footer              -->
<div class="container" style="width: 100%;
        margin-top: 100px;">
    <div class="row cen">
        <footer>
            <div class="row" style="width: 100%">
                <div class="col-xs-1"></div>
                <div class="col-lg-3">
                    <img id="footerLogo" src="images/eco-eat-logo.png" style="  margin-right: 30px">
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3">
                            <h3 style="font-weight: bolder; margin-left: 20px">About Us</h3>
                            <ul style="list-style-type:none;">
                                <a href="/project">
                                    <li><h6>Our Project</h6></li>
                                </a>

                            </ul>
                        </div>
                        <div class="col-lg-3">
                            <h3 style="font-weight: bolder; margin-left: 20px">What we have</h3>
                            <ul style="list-style-type:none;">
                                <a href="/emission">
                                    <li><h6>Emission Calculator</h6></li>
                                </a>
                                <a href="/tips">
                                    <li><h6>Low Carbon Tips</h6></li>
                                </a>
                                <a href="/map">
                                    <li><h6>Vegan Food Map</h6></li>
                                </a>
                                <a href="/workinprogress">
                                    <li><h6>Vegan Food Recipes</h6></li>
                                </a>
                                <a href="/workinprogress">
                                    <li><h6>Food Recipes Comparison</h6></li>
                                </a>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <p class="copyright">Leara Eco-Eat Project Team © 2021</p>
        </footer>

    </div>
</div>

<script>
    const FOOD_URL = "https://ieppfood-2004.restdb.io/rest/redundancy-dataset-ready",
        APIKEY = "615d37458597142da174544d";

    var response_list;

    var foodListCall = {
        "async": false,
        "crossDomain": true,
        "url": FOOD_URL,
        "method": "GET",
        "headers": {
            "content-type": "application/json",
            "x-apikey": APIKEY,
            "cache-control": "no-cache"
        }
    }

    $.ajax(foodListCall).done(function (response) {
        response_list = response
    });

    console.log(response_list)

    var response = response_list[0]

    var input, filter, li, numberShowed;
    var node = [];
    //
    //get input & element
    input = document.getElementById("food");
    filter = input.value.toUpperCase();
    div = document.getElementById("dropdown");

    //create first li element
    node[0] = document.createElement("li")
    node[0].textContent = response_list[0].food;
    node[0].id = response_list[0].id;
    node[0].style.display = "none";
    node[0].setAttribute("class", "food-dropdown-list");
    node[0].onmousedown = function returnId() {
        document.getElementById("food").value = "Sugar";
        document.getElementById("food").setAttribute("foodId", 0);
    }
    div.appendChild(node[0]);


    //create rest element if not duplicated
    for (i = 1; i < response_list.length; i++) {
        var check = 0;
        if (response_list[i].food !== response_list[i - 1].food) {
            node[i] = document.createElement("li");
            node[i].textContent = response_list[i].food;
            node[i].id = response_list[i].id;
            check = response_list[i].id;
            node[i].style.display = "none"
            node[i].setAttribute("class", "food-dropdown-list");
            node[i].setAttribute("category", response_list[i].category);
            node[i].setAttribute("responseId", i)
            node[i].onmousedown = function retuenId(e) {
                document.getElementById("food").value = response_list[e.target.id].food;
                document.getElementById("food").setAttribute("foodId", e.target.id);
            }
            div.appendChild(node[i]);
        }
    }

    //function filter
    function inputFilter() {
        var input, filter, li, numberShowed;

        //get input & element
        input = document.getElementById("food");
        filter = input.value.toUpperCase();
        div = document.getElementById("dropdown");

        //filter element by input
        numberShowed = 0;
        var mark;
        li = document.getElementsByClassName("food-dropdown-list");
        for (i = 0; i < li.length; i++) {
            var txtValue = li[i].textContent || li[i].innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                numberShowed++;
                if (numberShowed <= 5) {
                    li[i].style.display = "";
                } else {
                    li[i].style.display = "none"
                }
                mark = i;
            } else {
                li[i].style.display = "none";
            }
        }
        if (document.getElementById("food").value.toUpperCase() === li[mark].textContent.toUpperCase() ||
            document.getElementById("food").value.toUpperCase() === li[mark].innerText.toUpperCase()) {
            // document.getElementById("food").setAttribute("foodId", mark)
        } else {
            // document.getElementById("food").removeAttribute("foodId")
        }
    }


    //show dropdown list
    function toggleOption() {
        document.getElementById("dropdown").classList.toggle("show");
        inputFilter();
    }

    function showPlot() {

        var li = document.getElementsByClassName("food-dropdown-list"),
            content = document.getElementById("food").value.toUpperCase();
        var bool = false;

        var foodId;

        for (i = 0; i < li.length; i++) {
            var txtValue = li[i].textContent || li[i].innerText;
            if(content === txtValue.toUpperCase()){
                bool = true;
                foodId = li[i].getAttribute("responseId");
            }
        }

        if (content === '') {
            alert("Please put any value");
        } else if(!bool)
        {
            alert("Please make sure the food is on the suggestion list");
        }
        else{
            var emission;
            //    get emission data from resposne
            emission = response_list[foodId];


            delete emission.calcium;
            delete emission.calories
            delete emission.category
            delete emission.chole_sterol
            delete emission.dietary_fiber
            delete emission.food
            delete emission.id
            delete emission.iron
            delete emission.key_words
            delete emission.land_used
            delete emission.potassium
            delete emission.protein
            delete emission.saturated_fat
            delete emission.sodium
            delete emission.sugars
            delete emission.total_carbo_hydrate
            delete emission.total_fat
            delete emission.vitamin_a
            delete emission.vitamin_c
            delete emission.water_used
            delete emission._id
            delete emission.emissions_from

            delete emission.emissionsTotal;

            console.log(emission)

            var values = Object.values(emission),
                keys = Object.keys(emission);
            let data = [],
                maximum = 0;
            for (let i = 0; i < 6; i++) {
                if (values[i] > maximum) {
                    maximum = values[i];
                }
                data[i] = {name: keys[i].split("emissions").pop(), score: values[i]}
            }


// Set dimenssions and margins of the graph
            var margin = {top: 20, right: 30, bottom: 40, left: 90},
                width = 800 - margin.left - margin.right,
                height = 600 - margin.top - margin.bottom;

            var elements = document.getElementsByTagName("svg");

            while (elements.length > 0) {
                elements[0].parentNode.removeChild(elements[0]);
            }

// append the svg object to the body of the page
            var svg = d3.select("#barChart")
                .append('svg')
                .attr('width', width - margin.left - margin.right)
                .attr('height', height - margin.top - margin.bottom)
                .attr("viewBox", [0, 0, width, height]);


// Set X
            const x = d3.scaleBand()
                .domain(d3.range(data.length))
                .range([margin.left, width - margin.right])
                .padding(0.1)

// Set Y
            const y = d3.scaleLinear()
                .domain([0, maximum])
                .range([height - margin.bottom, margin.top])

// set SVG
            svg
                .append("g")
                .attr("fill", 'royalblue')
                .selectAll("rect")
                .data(data.sort((a, b) => d3.descending(a.score, b.score)))
                .join("rect")
                .attr("x", (d, i) => x(i))
                .attr("y", d => y(d.score))
                .attr('title', (d) => d.score)
                .attr("class", "rect")
                .attr("height", d => y(0) - y(d.score))
                .attr("width", x.bandwidth());

                console.log(response_list[foodId])
// add title
            svg
                .append("text")
                .attr("x", width / 2 - margin.left/2)
                .attr("y", 0 - (margin.top / 2))
                .text("Emission Breakdown Bar Chart for " + document.getElementById("food").value.toUpperCase());

// x Axis
            function xAxis(g) {
                g.attr("transform", `translate(0,${height - margin.bottom})`)
                    .call(d3.axisBottom(x).tickFormat(i => data[i].name))
                    .attr("font-size", '10px')
            }

// y axis
            function yAxis(g) {
                g.attr("transform", `translate(${margin.left}, 0)`)
                    .call(d3.axisLeft(y).ticks(null, data.format))
                    .attr("font-size", '10px')
            }


            svg.append("g").call(xAxis);
            svg.append("g").call(yAxis);
            svg.node();
        }
        document.getElementById("food").value = null;
    }
</script>


</body>
</html>