<!DOCTYPE html>
<html lang="en">
<html xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Results</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <!-- Load d3.js -->
    <script src="https://d3js.org/d3.v5.js"></script>

    <link rel="stylesheet" href="./styles/iteration1General.css">


    <!--    font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">

    <style>
        .bar:hover{
            opacity: 0.8;
        }

        #logo {
            height:85px;
            width: auto;
        }

        #main-header a{
            /*background-color: #9ADEA1;*/
            background-color: rgba(0,0,0,0);
            border: none;
            height:auto;
            text-decoration: none;
            color: black;
            font-weight: bolder;
            padding-left: 20px;
            padding-right: 20px;
            font-family: 'Permanent Marker', cursive;
        }

        .nav-active:hover {
            background-color: #8AFF8A;
            transition: font-size 1s;
            font-size: 20px;
        }

        .superscript{font-size:x-small; vertical-align:super;font-style:oblique}

        .banner {
            height: 80px;
            background-color: #C3EFCA;
            text-align: center;
            border: none;
            text-decoration: none;
            color: black;
            font-weight: bolder;
        }
    </style>

</head>
<body>

<nav id="main-header" class="navbar">
    <div class="container-fluid">
        <div class="navbar-header">
            <!--logo image-->
            <a href="../iteration1"><img id="logo" src="../images/eco-eat-logo.png" style="float: left"/></a>
        </div>

<!--        Navilist-->
        <ul class="nav navbar-nav navbar-right">
            <li class="nav-active"><a href=../iteratio1>Home</a></li>
            <li class="nav-active"><a href="tips">Tips</a></li>
            <li class="nav-active" style="text-decoration: underline"><a href="emissions">Emissions</a></li>
        </ul>

    </div>
</nav>


<!--back button-->
<a href="../iteration1/emissions"><button type="button" class="btn btn-primary" style="margin: 1vw">Back</button></a>

<!--Display food emission details in a table from model attribute foodItem. -->
<div class="container">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8"><h2 th:text="'Emissions for ' + ${foodItem.foodName}"></h2></div>
        <div class="col-sm-2"></div>
    </div>
    <br><br>
    <div class="row">
        <table class="table table-active">
            <caption>Emission values per 1g of food item.</caption>
            <tbody>
            <tr class="success" >
                <div class="col-sm-2"></div>
                <td class="col-sm-4">Land use</td>
                <td class="col-sm-4" th:text="${response.emissionsLandUse} + ' kg'"></td>
                <div class="col-sm-2"></div>
            </tr>
            <tr class="info">
                <div class="col-sm-2"></div>
                <td class="col-sm-4">Farm use</td>
                <td class="col-sm-4" th:text="${response.emissionsFarm} + ' kg'"></td>
                <div class="col-sm-2"></div>
            </tr>
            <tr class="success">
                <div class="col-sm-2"></div>
                <td class="col-sm-4">Processing</td>
                <td class="col-sm-4" th:text="${response.emissionsProcessing} + ' kg'"></td>
                <div class="col-sm-2"></div>
            </tr>
            <tr class="info">
                <div class="col-sm-2"></div>
                <td class="col-sm-4">Transport</td>
                <td class="col-sm-4" th:text="${response.emissionsTransport} + ' kg'"></td>
                <div class="col-sm-2"></div>
            </tr>
            <tr class="success">
                <div class="col-sm-2"></div>
                <td class="col-sm-4">Retail</td>
                <td class="col-sm-4" th:text="${response.emissionsRetail} + ' kg'"></td>
                <div class="col-sm-2"></div>
            </tr>
            <tr class="info">
                <div class="col-sm-2"></div>
                <td class="col-sm-4">Packaging</td>
                <td class="col-sm-4" th:text="${response.emissionsPackaging} + ' kg'"></td>
                <div class="col-sm-2"></div>
            </tr>
            <tr class="success">
                <div class="col-sm-2"></div>
                <td class="col-sm-4">Total emissions</td>
                <td class="col-sm-4" th:text="${response.emissionsTotal} + ' kg'"></td>
                <div class="col-sm-2"></div>
            </tr>
            <tr class="info">
                <div class="col-sm-2"></div>
                <td class="col-sm-4">Water used</td>
                <td class="col-sm-4" th:text="${response.waterUsed} + ' L'"></td>
                <div class="col-sm-2"></div>
            </tr>
            <tr class="success">
                <div class="col-sm-2"></div>
                <td class="col-sm-4">Land used</td>
                <td class="col-sm-4" th:text="${response.landUsed} + ' m2'"><sup>2</sup></td>
                <div class="col-sm-2"></div>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div id = "barChart" style="border: black solid 2px"></div>

<script th:inline="javascript">
    <!--        get data from html-->

    /*<![CDATA[*/

    var response = [[${response}]];

    /*]]>*/

    delete response.calcium;
    delete response.calories;
    delete response.category;
    delete response.chole_sterol;
    delete response.dietaryFiber;
    delete response.emissionsTotal;
    delete response.waterUsed;
    delete response.landUsed;
    delete response.food;
    delete response.id;
    delete response.iron;
    delete response.keyWords;
    delete response.landUsed;
    delete response.potassium;
    delete response.protein;
    delete response.saturatedFat;
    delete response.sodium;
    delete response.sugars;
    delete response.totalCarbohydrate;
    delete response.totalFat;
    delete response.vitaminA;
    delete response.vitaminC;
    delete response.waterUsed;
    delete response.emissionsFrom;


    var values = Object.values(response),
        keys = Object.keys(response);
    let data = [],
        maximum = 0;
    for (let i = 0; i< 6; i++){
        if (values[i] > maximum) {maximum = values[i];}
        data[i] = {name : keys[i].split("emissions").pop(), score : values[i]}
    }


    // Set dimenssions and margins of the graph
    var margin = {top: 20, right: 30, bottom: 40, left: 90},
        width = 800 - margin.left - margin.right,
        height = 400 - margin.top - margin.bottom;

    // append the svg object to the body of the page
    var svg = d3.select("#barChart")
        .append('svg')
        .attr('width', width - margin.left - margin.right)
        .attr('height', height - margin.top - margin.bottom)
        .attr("viewBox", [0, 0, width, height]);


    // Set X
    const x = d3.scaleBand()
        .domain(d3.range(data.length))
        .range([margin.left, width - margin.right])
        .padding(0.1)

    // Set Y
    const y = d3.scaleLinear()
        .domain([0, maximum])
        .range([height - margin.bottom, margin.top])

    // set SVG
    svg
        .append("g")
        .attr("fill", 'royalblue')
        .selectAll("rect")
        .data(data.sort((a, b) => d3.descending(a.score, b.score)))
        .join("rect")
        .attr("x", (d, i) => x(i))
        .attr("y", d => y(d.score))
        .attr('title', (d) => d.score)
        .attr("class", "rect")
        .attr("height", d => y(0) - y(d.score))
        .attr("width", x.bandwidth());

    // add title
    svg
        .append("text")
        .attr("x", width/2)
        .attr("y", 0 - (margin.top/2))
        .text("Emission Breakdown Bar Chart");

    // x Axis
    function xAxis(g) {
        g.attr("transform", `translate(0,${height - margin.bottom})`)
            .call(d3.axisBottom(x).tickFormat(i => data[i].name))
            .attr("font-size", '10px')
    }

    // y axis
    function yAxis(g) {
        g.attr("transform", `translate(${margin.left}, 0)`)
            .call(d3.axisLeft(y).ticks(null, data.format))
            .attr("font-size", '10px')
    }



    svg.append("g").call(xAxis);
    svg.append("g").call(yAxis);
    svg.node();



</script>


</body>
</html>