<!DOCTYPE html>
<html lang="en">
<html xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Recipes</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="styles/navigationBar.css">
    <link rel="stylesheet" href="styles/general.css">
    <link rel="stylesheet" href="styles/footer.css">

    <!--    font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
</head>
<body>

<!--navigation bar-->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" href="../.."><img src="images/eco-eat-logo.png" style="height: 80px"/></a>
        </div>

        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="../..">Home</a></li>
                <li><a href="/emissions">Emission Calculator</a></li>
                <li><a href="/tips">Low Carbon Tips</a></li>
                <li><a href="/map">Vegan Food Map</a></li>
                <li class="dropdown active">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Recipes <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Find a recipe that suits you</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/workinprogress">Compare two different recipes</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Blank space for navigation -->
<div class="container">
    <div class="row" style="margin-top: 100px;"></div>
</div>

<!-- Banner -->
<div class="container">
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="banner">
                <div>Enter keywords of recipe or select recipe’s category to help you find the recipes you like!</div>
            </div>
        </div>
    </div>
</div>
<br>

<!-- Accept user input for food item to view recipes.-->
<div class="container">
    <div class="row" style="margin-top: 75px;">

        <table class="table">
            <tr>
                <td style="width:50%; border:none;">
                    <p> Enter an ingredient to see recipe suggestions for it along with the carbon emission
                        values, so that you can select a recipe which is less harmful to the planet.</p>
                    <form action="#" th:action="@{/recipes}" th:object="${recipeItem}" method="post" style="margin-top: 60px">
                        <p>Enter the food item: <input type="text" th:field="*{name}" /></p>
                        <div class="row"></div>
                        <p style="margin-top: 25px;"><input type="submit" class="btn btn-primary" value="Submit" /> </p>
                    </form>
                </td>
                <td style="width:50%; border:none;">
                    <p> Want to see recipes for a wider category? Choose a category from our list.</p>
                    <form action="#" th:action="@{/recipescategories}" th:object="${recipeItem}" method="post" style="margin-top: 60px">
                        <p>Enter the food category: <input type="text" th:field="*{category}" /></p>

                        <p style="margin-top: 25px;"><input type="submit" class="btn btn-primary" value="Submit" /> </p>
                    </form>
                </td>
            </tr>
        </table>

    </div>


</div>


<!--            Footer              -->
<div class="container" style="width: 100%;
        margin-top: 100px;">
    <div class="row cen">
        <footer>
            <div class="row" style="width: 100%">
                <div class="col-xs-1"></div>
                <div class="col-lg-3">
                    <img id="footerLogo" src="images/eco-eat-logo.png" style="  margin-right: 30px">
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3">
                            <h3 style="font-weight: bolder; margin-left: 20px">About Us</h3>
                            <ul style="list-style-type:none;">
                                <a href="/workinprogress">
                                    <li><h6>Our Project</h6></li>
                                </a>
                                <a href="/workinprogress">
                                    <li><h6>Our Team</h6></li>
                                </a>
                            </ul>
                        </div>
                        <div class="col-lg-3">
                            <h3 style="font-weight: bolder; margin-left: 20px">What we have</h3>
                            <ul style="list-style-type:none;">
                                <a href="/emission">
                                    <li><h6>Emission Calculator</h6></li>
                                </a>
                                <a href="/tips">
                                    <li><h6>Low Carbon Tips</h6></li>
                                </a>
                                <a href="/map">
                                    <li><h6>Vegan Food Map</h6></li>
                                </a>
                                <a href="/workinprogress">
                                    <li><h6>Vegan Food Recipes</h6></li>
                                </a>
                                <a href="/workinprogress">
                                    <li><h6>Food Recipes Comparison</h6></li>
                                </a>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <p class="copyright">Leara Eco-Eat Project Team © 2021</p>
        </footer>

    </div>
</div>

<!--<script type="text/javascript" src="scripts/recipes.js"></script>-->
</body>
</html>