<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <meta charset="UTF-8">
    <title>Test</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>



$(document).ready(function(){
    term = {"keyWords":"Apple"},
    url = "http://47.113.179.46:8080/food/queryFoodMessage"


  $("button").click(function(){
    $.ajax({
        url: url,
        type: "GET",
        crossDomain:true,
        data:term,
        dataType:'json',
        withCredentials: true,
        processData:false,
        headers: { "Content-Type":"application/json","Accept": "*/*","Content-Endcoding":"gzip" ,"Access-Control-Allow-Origin": "*"},
        success: function (response) {
            response.addHeader("Access-Control-Allow-Origin", "*");
            console.log(response);
        },
        error: function(error){
            console.log("Something went wrong", error);
        }
    });
  });
});
</script>
</head>
<body>
   
<button>Send an HTTP GET request to a page and get the result back</button>

</body>
</html>