<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tips</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/styles/tips.css">
    <link rel="stylesheet" href="styles/general.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>


<nav id="main-header" class="navbar">
    <div class="container-fluid">
        <div class="navbar-header">
            <img id="logo" src="images/eco-eat-logo.png"/>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Home</a></li>
            <li class="active"><a href="/tips">Tips</a></li>
            <li><a href="#">Page 2</a></li>
        </ul>

    </div>
</nav>


<div class="container">
    <div class="row" style="margin-top: 175px;">
        <div class="col-sm-4">
            <div class="card text-center text-white bg-info mb-3" style="max-width: 28rem; height:150px;">
                <div class="card-body">
                    <div style="height: 20px"></div>
                    <h5 class="card-title">Panel title</h5>
                    <p class="card-text">Some quick example text to build on the panel title and make up the bulk of the panel's content.</p>
                    <a class="card-link">Card link</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card text-center text-white bg-info mb-3" style="max-width: 28rem; height:150px;">
                <div class="card-body">
                    <div style="height: 20px"></div>
                    <h5 class="card-title">Panel title</h5>
                    <p class="card-text">Some quick example text to build on the panel title and make up the bulk of the panel's content.</p>
                    <a class="card-link">Card link</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card text-center text-white bg-info mb-3" style="max-width: 28rem; height:150px;">
                <div class="card-body">
                    <div style="height: 20px"></div>
                    <h5 class="card-title">Panel title</h5>
                    <p class="card-text">Some quick example text to build on the panel title and make up the bulk of the panel's content.</p>
                    <a class="card-link">Card link</a>
                </div>
            </div>
        </div>
    </div>

</div>


</body>
</html>