<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tips</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/styles/tips.css">
    <link rel="stylesheet" href="styles/general.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="scripts/tips.js"></script>

    <!--    font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
</head>
<body>


<nav id="main-header" class="navbar">
    <div class="container-fluid">
        <div class="navbar-header">
            <img id="logo" src="images/eco-eat-logo.png"/>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li class="nav-active"><a href=..>Home</a></li>
            <li class="nav-active" style="text-decoration: underline"><a href="/tips">Tips</a></li>
            <li class="nav-active"><a href="#">Page 2</a></li>
        </ul>

    </div>
</nav>

<!-- Cards for information sections -->
<div class="container">
    <div class="row" style="margin-top: 175px;">
        <div class="col-sm-4">
            <div class="card text-center text-white bg-info mb-3" style="max-width: 28rem; height:150px;">
                <div class="card-body">
                    <div style="height: 20px"></div>
                    <h5 class="card-title" style="font-weight: bold;">Guidelines for a vegan lifestyle</h5>
                    <p class="card-text">Learn some rules and guidelines to adopt a vegan lifestyle.</p>
                    <a href="#" class="btn btn-sm btn-primary" onclick="showInfo1()">Learn more</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card text-center text-white bg-info mb-3" style="max-width: 28rem; height:150px;">
                <div class="card-body">
                    <div style="height: 20px"></div>
                    <h5 class="card-title" style="font-weight: bold;">Nutrition: what you need to know</h5>
                    <p class="card-text">Nutritional facts and things to remember when choosing vegan.</p>
                    <a href="#" class="btn btn-sm btn-primary" onclick="showInfo2()">Learn more</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card text-center text-white bg-info mb-3" style="max-width: 28rem; height:150px;">
                <div class="card-body">
                    <div style="height: 20px"></div>
                    <h5 class="card-title" style="font-weight: bold;">Daily nutrient requirements</h5>
                    <p class="card-text">Learn about requirements you need to take care to consume.</p>
                    <a href="#" class="btn btn-sm btn-primary" onclick="showInfo3()">Learn more</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Tips for Guidelines -->
    <div class="row" style="height: 100px;"></div>
    <div id="info-1" class="row" style="display: none;">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <h2>Guidelines for a vegan lifestyle</h2><br>
            <p>A vegan diet is a diet that removes animal products. Animal products include:</p>
            <ul>
                <li>Meat (beef, chicken, lamb, etc)</li>
                <li>Seafood (fish, shellfish, etc)</li>
                <li>Dairy (milk, cheese, cream, etc)</li>
                <li>Eggs</li>
            </ul>
            <p>The following foods are also considered animal products and some vegans exclude them from their diet as well:
            </p>
            <ul>
                <li>Honey</li>
                <li>Gelatine (used as an ingredient, typically in desserts) </li>
            </ul>
            <p>Due to these restrictions, a vegan diet is based on eating primarily plant foods, including vegetables, fruits, grains, legumes, seeds. It also includes eating products manufactured from plants that are suitable for vegans such as vegan meat and cheese, soy, and alternative milks.</p>
            <p> Vegan diets are different from vegetarian diets. Vegetarian diets only remove certain categories of animal products. Typically, vegetarians will not eat meat and fish, but will eat other products like dairy and eggs.</p>
            <p>Transitioning to a vegan diet requires swapping animal products for plant-based equivalents. Some easy swaps you can make in recipes include: </p>
            <ul>
                <li>Instead of meat, you can use tofu, beans, chickpeas or lentils. These still provide the protein and bulk you would be accustomed to from meat.</li>
                <li>When baking, there are many substitutes based on what the original purpose of the egg was. For binding, use soaked chia seeds or soaked flaxseed meal. For moisture, use mashed banana or fruit puree. For creaminess, use peanut butter, non-dairy yoghurt or soft tofu.</li>
                <li>Instead of scrambled eggs, use hard tofu.</li>
                <li>Instead of milk, switch to a plant milk. There are many different varieties available: soy, oat, rice, coconut, etc. </li> 
                <li>Instead of butter, use margarine or oil. A fruit puree can also be used in a baking recipe. </li>
                <li>Instead of cheese, use nutritional yeast or tofu.</li>
                <li>Instead of cream, use plant milks, coconut cream, margarine, oils.</li>
                <li>Switch chocolate, yoghurt and other sweet dairy foods for dairy-free versions. These can be made using a plant milk or cream. Chocolate that is 100% cocoa is also dairy-free.</li>
            </ul>
            <p>A vegan diet is a good way to lower the carbon emissions of your diet. Animal products generate more emissions because of the land, food and water required to raise livestock as well as transporting livestock between locations. See our Carbon Emissions Calculator to know the number of emissions generated by various foods, including animal products.</p>
            <br><p><b>References:</b></p>
            <p><a href="https://www.betterhealth.vic.gov.au/health/healthyliving/vegetarian-and-vegan-eating">Better Health Channel. (n.d.). Vegetarian and vegan eating.</a></p>

        </div>
        <div class="col-sm-4"></div>
       </div>

    <!-- Tips for Nutrition -->
    <div id="info-2" class="row" style="display: none;">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
        <h2>Nutrition: what you need to know </h2> <br>
            <p>Some vitamins and minerals can be harder to get on a vegan diet. This is because nutrients like protein, iron and calcium are most often found through animal products. But most nutrients can also be found in plant foods, and vegans can supplement nutritional gaps through using supplements.</p>
            <p>
                <b>Protein</b>: To get all 9 essential amino acids found in protein, it is important to eat a variety of plant foods containing protein. This includes legumes, nuts, seeds, soy, wholegrains, and cereals. You can have an adequate amount of protein by eating a combination of some of these foods every day.
            </p>
            <p>
                <b>Iron</b>: There are many plant foods that contain iron including wholegrains, legumes, tofu, leafy green vegetables, and dried fruit. However, it is harder for the body to process iron from plant foods, so when eating one of these foods you should eat a food with vitamin C (such as a fresh fruit or vegetable) to help absorb the iron.
            </p>
            <p>
                <b>Vitamin B12</b>: This is the hardest nutrient for vegans to get from their diet, as there are no natural plant sources of it. Some brands of soy drinks or vegetarian sausages/burgers may contain B12, but you need to check the label and ensure the products are vegan. It is advised that vegans (and some vegetarians) take B12 supplements.
            </p>
            <p>
                <b>Zinc</b>: Plant sources of zinc include nuts, tofu, legumes, wholegrains, wheatgerm and miso.
            </p>
            <p>
                <b>Calcium</b>: Foods like leafy dark green vegetables (kale, bok choy, broccoli, etc), legumes, almonds and tahini naturally contain calcium.
            </p>
            <p>
                <b>Iodine</b>: The easiest way for a vegan to get iodine is from a small amount of iodised salt each day. Iodine can also be found in seaweed, bread that contains salt, or in supplements.
            </p>
            <p>
                <b>Omega-3 Fats</b>: There are only a few foods that provide a particular omega-3 fat named ALA, but you only require a small amount of one of these foods each day. These include chia seeds, walnuts, hemp seeds, ground flaxseed, or an oil from any of these foods. Two other omega-3 fats, DHA and EPA, can be converted in the body if you have enough ALA. You can also buy supplements for DHA and EPA.
            </p>
            <p>
                <b>Vitamin A</b>: There are no natural sources of Vitamin A in plants, however leafy green and orange vegetables contain elements that the human body can convert to Vitamin A. Eating some of these foods every day will ensure adequate Vitamin A levels.
            </p>
            <p>This is a summary of what foods you should eat each day to adequately get all the nutrients you require: </p>
            <ul>
                <li>Leafy green vegetables and orange vegetables </li>
                <li>Fruit </li>
                <li>Wholegrains  </li>
                <li>Soy (if you are not allergic)   </li>
                <li>A small amount of chia seeds/hemp seeds/ground flaxseeds/walnuts  </li>
                <li>A small amount of iodised salt  </li>
                <li>A Vitamin B12 supplement </li>
            </ul>
            <br><p><b>References:</b></p>
            <p><a href="https://www.betterhealth.vic.gov.au/health/healthyliving/vegetarian-and-vegan-eating">Better Health Channel. (n.d.). Vegetarian and vegan eating.</a></p>
            <p><a href="https://vegan.com/health/nutrition/">Messina, V. (n.d). Vegan Nutrition Guide.</a></p>

        </div>
        <div class="col-sm-4"></div>
    </div>

    <!-- Tips for Daily Nutrition -->
    <div id="info-3" class="row" style="display: none;">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <h2>Daily nutrient requirements </h2> <br>
            <p>Recommended amounts of nutrients per day for adults: </p>
            <ul>
                <li>Vitamin B12: 10mcg in supplement form </li>
                <li>Protein: 0.75g per kg of your body weight </li>
                <li>Calcium: 700 mg </li>
                <li>Iodine: 140-150 mcg </li>
                <li>Iron: 8.7 mg (higher during menstruation) </li>
                <li>Zinc: 7mg for women, 9.5mg for men </li>
            </ul>
            <br>
            <p>The Australian Dietary Guidelines recommend that men aged 19-50 get the following amounts of the main food groups:  </p>
            <ul>
                <li>Vegetables: 6 serves  </li>
                <li>Fruit: 2 serves  </li>
                <li>Grains: 6 serves  </li>
                <li>Legumes, beans, nuts, seeds*: 3 serves  </li>
                <li>Dairy alternatives*: 2.5 serves  </li>
            </ul>
            <br>
            <p>For women aged 19-50 they recommend:   </p>
            <ul>
                <li>Vegetables: 5 serves   </li>
                <li>Fruit: 2 serves   </li>
                <li>Grains: 6 serves  </li>
                <li>Legumes, beans, nuts, seeds*: 2.5 serves   </li>
                <li>Dairy alternatives*: 2.5 serves  </li>
            </ul>
            <p>* The Guidelines include animal products in these categories, but they have been removed from this list </p>
            <br><p><b>References:</b></p>
            <p><a href="https://www.eatforhealth.gov.au/food-essentials/how-much-do-we-need-each-day/recommended-number-serves-adults">Department of Health. (2015). Recommended Number of Serves for Adults.</a></p>
            <p><a href="https://nutritionaustralia.org/fact-sheets/iodine-facts/">Nutrition Australia. (n.d.). Iodine facts.</a></p>
            <p><a href="https://www.vegansociety.com/resources/nutrition-and-health/nutrition-overview-0">The Vegan Society. (n.d.). Nutrition Overview.</a></p>

            </div>
        <div class="col-sm-4"></div>
    </div>
</div>


</body>
</html>