/* Page related styles */
.page {
    position: relative;
    overflow: hidden;
    min-height: 100vh;
    opacity: 0;
}

.page.fadeIn {
    animation-timing-function: ease-out
}

.page.fadeOut {
    animation-timing-function: ease-in
}

body {
  animation: fade-in 2s;
  background-attachment: fixed;
  background-image: linear-gradient(to bottom right, white, #c9e7d5);
  font-family: "Rubik", sans-serif;
}

@keyframes fade-in { /* Fade in animation effect, linked by multiple classes*/
  from {opacity: 0;}
  to {opacity: 1;}
}

.banner { /* Style for all page banners */
  background-color: #81c784;
  border-radius: 5px 30px;
  box-shadow: 5px 5px 4px grey;
  color: white;
  font-size: 130%;
  padding: 20px 7px;
  text-align: center;
  text-shadow: 3px 3px 13px black;
  }

/* Style for all text blocks, including the form on the Emissions page */
section{
  animation: fade-in 2s;
  background-image: linear-gradient(to bottom right, #f4fcf0, #9ff992);
  border: 1px solid grey;
  border-radius: 20px;
  box-shadow: 8px 8px 4px grey;
  font-family: sans-serif;
  padding: 12px;
}


/* Styles for Homepage items only */
#info section{
  font-size: 1.2em;
  margin-top: 20px;
  }
  
#info img, #info iframe{
  align-content: stretch;
  background-image: linear-gradient(to bottom right, white, grey);
  border: initial;
  border-radius: 20px;
  box-shadow: 8px 8px 4px grey;
  font-family: sans-serif;
  height: 350px;
  margin-top: 20px;
  width: 100%;
  }
  
@media only screen and (max-width: 600px){ /* Adjusts media of tips page for mobile browsers*/
  #info img, #info iframe{
    height: 200px;
    width: 75%;
  }
}

/* Styles for Emissions page items only */
#explanation section{
  margin: 20px 7px 7px 2px;
}

#foodEntry{
  margin: 7px;
}

#food{ /* Input box for the foodEntry form */
  border: 1px solid grey;
  border-radius: 8px;
  margin-top: 10px;
}

/* Styles for Tips page items only */
.card-body{
  animation: fade-in 2s;
  background-image: linear-gradient(to bottom right, #C8E6C9, #4FCB7C);
  border-color: #C8E6C9;
  border-radius: 20px;
  box-shadow: 5px 5px 4px grey;
  color: black;
  height: 180px;
  margin-top: 30px;
  padding-left: 8px;
  padding-right: 8px;
  text-align: center;
}

.card-title{
  font-weight: bold;
}

.card-text{
  font-weight: lighter;
}


#info-1 h2, #info-2 h2, #info-3 h2{ /* Heading style for main content of tips page*/
  font-weight: bold;
  padding-left: 12px;
}


#info-1 a, #info-2 a, #info-3 a{ /* Link style for tips page references*/
  color: green;
  word-break: break-all;
}

#info-1 section, #info-2 section, #info-3 section{
  margin-bottom: 7px;
}

@media only screen and (max-width: 700px){ /* Adjusts text of tips page for mobile browsers*/
  #info-1 section, #info-2 section, #info-3 section, .card-body, .card-title{
  font-size: 1.2em;
  }
  
}