/* Page related styles */
.page.fadeIn {
    animation-timing-function: ease-out
}

.page.fadeOut {
    animation-timing-function: ease-in
}

body {
  animation: fade-in 2s;
  background-attachment: fixed;
  background-image: linear-gradient(to bottom right, white, #c9e7d5);
  font-family: "Rubik", sans-serif;
}

@keyframes fade-in { /* Fade in animation effect, linked by multiple classes*/
  from {opacity: 0;}
  to {opacity: 1;}
}

.banner { /* Style for all page banners */
  background-color: #81c784;
  border-radius: 5px 30px;
  box-shadow: 5px 5px 4px grey;
  color: white;
  font-size: 130%;
  padding: 20px 7px;
  text-align: center;
  text-shadow: 3px 3px 13px black;
  }

/* Style for all text blocks, including the form on the Emissions page */
section{
  animation: fade-in 2s;
  background-image: linear-gradient(to bottom right, #f4fcf0, #9ff992);
  border: 1px solid grey;
  border-radius: 20px;
  box-shadow: 8px 8px 4px grey;
  font-family: sans-serif;
  padding: 12px;
}

/*Navigation Bar*/

.navbar {
  min-height: 80px;
  font-family: sans-serif;
  font-weight: bolder;
  font-size: large;
}

.navbar-brand {
  padding: 0 15px;
  height: 80px;
  line-height: 80px;
}

.navbar-toggle {
  margin-top: 23px;
  padding: 9px 10px !important;
}

.navbar-nav > li > a {
  padding-top: 26.5px;
  padding-bottom: 26.5px;
  line-height: 27px;
}

.navbar .navbar-nav > .active > a{
  background-color: #717171;
  color: white;
}

.navbar .navbar-nav > li > a:hover,
.navbar .navbar-nav > li > a:focus,
.navbar .navbar-nav > .active > a:hover,
.navbar .navbar-nav > .active > a:focus {
  color: #00D100;
  background-color: #dddddd;
}

@media (max-width:1050px) {
  .navbar-header {
    float: none;
  }
  .navbar-left,.navbar-right {
    float: none !important;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
    display: none!important;
  }
  .navbar-nav {
    float: none!important;
    margin-top: 7.5px;
  }
  .navbar-nav>li {
    float: none;
  }
  .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .collapse.in{
    display:block !important;
  }
}

/* Footer section*/

.copyright {
  margin-top:15px;
  text-align:center;
  font-size:13px;
  color:#717171;
  margin-bottom: 30px;
}

footer{
  width: 100%;
  background-color: rgba(0, 255, 0, 0.2);
  height: 250px;
}

#footerLogo{
  width: 80%;
  padding-top: 10%;
}

footer a {
  color: black;
  text-decoration: none;
}

footer a:hover{
  color: #717171;
}

@media (max-width: 1183px) {
  footer {
    height: 500px;
  }

  #footerLogo{
    width: 350px;
    padding-top: 20px;
  }
}


/*Preloader section:*/



@media only screen and (max-width: 700px){ /* Adjusts text of tips page for mobile browsers*/
  #info-1 section, #info-2 section, #info-3 section, .card-body, .card-title{
    font-size: 1.2em;
  }

}

.circle {
  width: 100%;
  height: 100%;
  position: absolute;
}
.circle .inner {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border: 5px solid rgba(0, 255, 170, 0.7);
  border-right: none;
  border-top: none;
  backgroudn-clip: padding;
  box-shadow: inset 0px 0px 10px rgba(0, 255, 170, 0.15);
}

@-webkit-keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.circle:nth-of-type(0) {
  transform: rotate(0deg);
}
.circle:nth-of-type(0) .inner {
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}

.circle:nth-of-type(1) {
  transform: rotate(70deg);
}
.circle:nth-of-type(1) .inner {
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}

.circle:nth-of-type(2) {
  transform: rotate(140deg);
}
.circle:nth-of-type(2) .inner {
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}

.preloader {
  -webkit-animation: spin 5s infinite linear;
  animation: spin 5s infinite linear;
}

.preloader {
  width: 100px;
  height: 102px;
  border-radius: 100%;
  position: absolute;
  top: 45%;
  left: calc(50% - 50px);
  bottom: 0;
  right: 0;
  z-index: 10000;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background: #fff;
  transition: .3s all ease
}


.preloader * {
  box-sizing: content-box
}

.preloader.loaded {
  opacity: 0;
  visibility: hidden
}

/*style for homepage only*/
.image-container{
  height: auto;
  /*border: black 2px solid;*/
}


/* Styles for Homepage items only */
#info section{
  font-size: 1.2em;
  margin-top: 20px;
  }
  
#info img, #info iframe{
  align-content: stretch;
  background-image: linear-gradient(to bottom right, white, grey);
  border: initial;
  border-radius: 20px;
  box-shadow: 8px 8px 4px grey;
  font-family: sans-serif;
  height: 350px;
  margin-top: 20px;
  width: 100%;
  }
  
@media only screen and (max-width: 600px){ /* Adjusts media of tips page for mobile browsers*/
  #info img, #info iframe{
    height: 200px;
    width: 75%;
  }
}

/* Styles for Emissions page items only */
#explanation section{
  margin: 20px 7px 7px 2px;
}

#foodEntry{
  margin: 7px;
}

#food{ /* Input box for the foodEntry form */
  border: 1px solid grey;
  border-radius: 8px;
  margin-top: 10px;
}

/* Styles for Tips page items only */
.card-body{
  animation: fade-in 2s;
  background-image: linear-gradient(to bottom right, #C8E6C9, #4FCB7C);
  border-color: #C8E6C9;
  border-radius: 20px;
  box-shadow: 5px 5px 4px grey;
  color: black;
  height: 180px;
  margin-top: 30px;
  padding-left: 8px;
  padding-right: 8px;
  text-align: center;
}

.card-title{
  font-weight: bold;
}

.card-text{
  font-weight: lighter;
}


#info-1 h2, #info-2 h2, #info-3 h2{ /* Heading style for main content of tips page*/
  font-weight: bold;
  padding-left: 12px;
}


#info-1 a, #info-2 a, #info-3 a{ /* Link style for tips page references*/
  color: green;
  word-break: break-all;
}

#info-1 section, #info-2 section, #info-3 section{
  margin-bottom: 7px;
}




